<!-- SwitchComponent template file -->
<div class="switch-container">
  <h3 class="title">Layers</h3>
  <md-switch class="md-primary" v-model="railRoads.isVisible" @change="handleChange(railRoads.id)">{{railRoads.toggleLabel}}</md-switch>
  <md-switch class="md-primary" v-model="stores.isVisible" @change="handleChange(stores.id)">{{stores.toggleLabel}}</md-switch>
  <md-switch class="md-primary" v-model="buildings.isVisible" @change="handleChange(buildings.id)">{{buildings.toggleLabel}}</md-switch>
</div>
