/**
 *  SwitchComponent style file
**/

.switch-container {
  display: flex;
  flex-direction: column;
  top: 5rem;
  right: 2rem;
  padding: 1rem;
  
  .md-switch {
    margin: 0.5rem 1rem 0.5rem 0;
  }
}
