:host {
  grid-column: 1 / span 2;
  grid-row: 1;
  display: flex;
  align-items: center;
  height: 4rem;
  background-color: #036fe2;

  img {
    margin: 0 0.5rem 0 1.5rem;
  }

  span {
    color: #fff;
  }
}
