.map-container {
  position: fixed;
  top: 4rem;
  left: 22rem;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;

  * {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
}
