/************************* 
Vars 
*************************/
:root {
  --primary-color: #036fe2;
  --text-color: #2c3032;
  --textContrast-color: #ffffff;
  --brand-color: #162945;
  --background-color: #f8f9f9;
  --border-color: rgba(44, 48, 50, 0.25);
}

/************************* 
Common
*************************/
body,
html {
  height: 100%;
  margin: 0;
  overflow: hidden;
  padding: 0;
  position: fixed;
  width: 100%;
}
html {
  -webkit-font-smoothing: antialiased;
  box-sizing: border-box;
  text-size-adjust: 100%;
}
body {
  margin: 0px;
  color: var(--text-color);
  font-family: Inter, sans-serif;
  font-weight: 400;
  font-size: 1rem;
  line-height: 1.5;
  letter-spacing: 0.4px;
}
a {
  color: var(--primary-color);
}

/************************* 
Components 
*************************/
/* Buttons */
.button {
  -webkit-tap-highlight-color: transparent;
  outline: 0;
  user-select: none;
  vertical-align: middle;
  appearance: none;
  text-decoration: none;
  cursor: pointer;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  margin: 0;
  min-width: 64px;
  height: 32px;
  padding: 0 16px;
  font-family: Inter, sans-serif;
  font-weight: 500;
  border-radius: 4px;
  border: 1px solid transparent;
  color: var(--textContrast-color);
  background-color: transparent;
  border-color: var(--textContrast-color);
}
.button--primary {
  color: var(--textContrast-color);
  background-color: var(--primary-color);
  border-color: var(--primary-color);
}

/* Inputs */
input {
  box-sizing: border-box;
  width: 160px;
  height: 32px;
  padding: 0 12px;
  margin: 0;
  border-radius: 4px;
  border: 1px solid var(--border-color);
}
input:focus {
  outline: none;
  border-color: var(--primary-color);
}

/************************* 
Sections 
*************************/
.root {
  flex: 1 1 auto;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

/* Header */
.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 48px;
  padding: 0 16px;
  background-color: var(--brand-color);
  color: var(--textContrast-color);
}
.header__info {
  display: flex;
  align-items: center;
  gap: 8px;
}

/* Profile */
.profile {
  display: flex;
  align-items: center;
  gap: 4px;
  font-size: 0.8125rem;
}
.profile span {
  margin-right: 16px;
}

/************************* 
Main content
*************************/
.container {
  display: flex;
  flex-direction: column;
  flex: 1 1 auto;
  flex-wrap: wrap;
  width: 100%;
  height: 100%;
}

.content {
  flex: 1 1 0%;
  min-width: 0px;
  position: relative;
}
.content #map,
.content canvas {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  max-height: 100%;
}

/* Map legend fix */
.maplibregl-ctrl-bottom-right .maplibregl-ctrl-attrib {
  padding: 0 8px;
  font-size: 0.6rem;
  font-family: Inter, sans-serif;
  font-weight: 500;
  background-color: var(--background-color);
  border-radius: 4px;
}
