.mapContainer {
  width: 400px;
  height: 400px;
  position: relative;
}

.mapContainer > * {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.loggedContainer{
  display: none;
}

.isAuthenticated .loggedContainer{
  display: block;
}

.isAuthenticated #login{
  display: none;
}