/**
 *  ViewTemplate style file
**/

.template-container {
  height: 100%;
  width: 100%;
  background-color: lightgrey;
}

.header {
  height: 3rem;
}

.content {
  height: calc(100% - 3rem);

  .md-layout-item:first-child {
    width: 22rem;
    min-width: 22rem;
    max-width: 22rem;
  }
}
